@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this */
/* @layer base {
  body {
    @apply font-inter; 
  }
} */

body {
  font-family: "Calibre", "Inter", calibri, sans-serif;
}

@keyframes line-grow {
  0% {
    height: 0;
  }
  100% {
    height: 8rem; /* Equivalent to h-20 */
  }
}

@keyframes icons-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes line-grow-xs {
  0% {
    height: 0;
  }
  100% {
    height: 8rem; /* Equivalent to h-20 */
  }
}

@keyframes icons-appear-xs {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-line-grow {
  animation: line-grow 1s ease-in-out forwards;
}

.animate-line-grow-xs {
  animation: line-grow-xs 1s ease-in-out forwards;
}

.animate-icons-appear-xs {
  animation: icons-appear-xs 1.5s ease-in-out forwards;
}

.animate-icons-appear {
  animation: icons-appear 1.5s ease-in-out forwards;
}
